{
  "env": {
    "browser": true,
    "es2021": true
  },
  "ignorePatterns": ["dist/"],
  "extends": ["plugin:vue/vue3-essential", "prettier"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
  },
  "plugins": ["vue", "@typescript-eslint"],
  "rules": {
    "vue/multi-word-component-names": "off"
  }
}
