---
interface Props {
  heroCode: string
}

const { heroCode } = Astro.props
---

<span
  class:list={[
    "text-xl md:text-3xl text-transparent",
    "font-bold font-mono whitespace-pre-wrap",
    "bg-clip-text bg-gradient-to-br",
    "from-emerald-600 dark:from-emerald-300",
    "via-cyan-600 dark:via-cyan-300",
    "to-neutral-300 dark:to-white"
  ]}
>{heroCode}</span>
